body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 90vh;
  max-width: 90vmin;     
  height: auto;
  /*max-height: 95vw;*/
  aspect-ratio: 1 / 1;
}

path {
  fill: white;
  fill-opacity: 0.8;
  stroke: black;
  transition: .3s;
}

#dial {
  font-family: monospace;
  text-align: center;
}